img{
    width: 100%;
    height: auto;
}

hr{
    opacity: 0.5;
}


/* _________________________HEADER STYLE___________________________ */


.header{
    background: white;
    position: fixed;
    z-index: 1;
    /* width: 100%; */
    right: 0;
    left: 0;
    box-shadow: 0px 0px 5px gray;
}


.div-nomRestaurant{
    padding: 8px 0 10px 18px;
    font-size: 18px;
    letter-spacing: 3px;
    color: black;
}


.div2-header{
    /* position: relative; */
    top: 12px;
    font-size: 18px;
    letter-spacing: 3px;
    display: inline-block;
}

.nav-link{
    display: none;
    position: absolute;
    background: white;
}

.div2-header:hover .nav-link{
    display: block;
}


.nav-link a{
    display: block;
    padding: 8px 50px 10px 18px;
    font-size: 18px;
    letter-spacing: 3px;
    text-decoration: none;
    color: black;
}

.div-nomRestaurant a:hover, .nav-link a:hover{
    background: gray;

}


/* __________________________PHOTO STYLE______________________ */

.div-img-hamburger{
    position: relative;
}

.div-img-hamburger h2{
    font-size: 40px;
    letter-spacing: 3px;
    margin-left: 20px;
    position: absolute;
    bottom: 30px;
    opacity: 0.6;
}



/* ___________________SECTION1 STYLE_________________________ */


.section1{
    padding: 80px 20px 20px;
}

.section1 h2, .section2 h2{
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
    padding-bottom: 40px;
}

.section1 h3{
    font-size: 20px;
    letter-spacing: 4px;
    text-align: center;
    padding-bottom: 40px;
}

.section1 p{
    line-height: 28px;
    font-size: 18px;
}

.span-p{
    opacity: 0.6;
    display: block;
    margin-bottom: 40px;
}

.mark-seasonal{
    background: rgb(244, 241, 241);
    padding: 2px 5px;
}

.img1{
    margin-bottom: 50px;
    border-radius: 5px;
    /* filter: grayscale(10%); */
    opacity: 0.8;
}



/* ___________________SECTION2 STYLE_________________________ */


.section2{
    padding: 80px 20px 20px;
    
}

.section2 h3{
    font-size: 20px;
    letter-spacing: 4px;
    margin-bottom: 15px;
}

.section2 p{
    line-height: 28px;
    opacity: 0.6;
}

.sousdiv1-section2{
    margin: 10px 0 50px;
}


/* _____________________SECTION3 STYLE________________________ */

.section3{
    padding: 80px 20px 20px;
}

.section3 h2{
    font-size: 40px;
    letter-spacing: 3px;
    padding-bottom: 40px;
}

.section3 p{
    line-height: 28px;
   
}

.section3 b{
    font-size: 18px;
    font-weight: 700;
    color: rgb(39, 130, 112);
    margin: 20px 0;
    display: block;
}

.input-section3{
    width: 100%;
    padding: 18px 10px;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.517);
    margin: 10px 0;
}

.input-btn-section3{
    border: none;
    padding: 10px 20px;
    margin-top: 30px;
    cursor: pointer;
}

.input-btn-section3:hover{
    background: rgb(196, 196, 196);
}








@media screen and (min-width: 586px){


    .header{
        padding: 8px 0;
    }

    .div2-header{
        display: flex;
        justify-content: space-between;
    }

    .nav-link{
        display: block;
        position: static;
        margin-right: 15px;
    }

    .nav-link a{
        display: inline-block;
        padding: 10px;
    }

    .div-nomRestaurant{
        padding: 10px;
    }

    /* _____________________SECTION1, SECTION2, SECTION3 STYLE________________________ */

    .section1{
        display: flex;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row-reverse;
        gap: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .section2{
        display: flex;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;        
        gap: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .div2-section1, .div2-section2{
        flex: 50%;
    }

    .div1-section1, .div1-section2{
        flex: 50%;
        align-self: center;
    }

    hr{
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    .section3{
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    
}
